@charset 'utf-8';
html,
body,
.container {
  height: 100%;
  width: 100%;
}
.bank_list p {
  line-height: 1.3rem;
  color: #999;
  font-size: .6rem;
  padding-left: .6rem;
}
.bank_list .list_box li {
  padding-left: .6rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.bank_list .list_box li img {
  width: 1.2rem;
  position: absolute;
  left: .6rem;
  top: .4rem;
}
.bank_list .list_box li p {
  line-height: 2.25rem;
  padding-left: 1.8rem;
  color: #393939;
  font-size: .7rem;
}
