@charset 'utf-8';
html,
body,
.container {
  height: 100%;
  width: 100%;
}
.user_info {
  width: 100%;
  padding-top: 2.5rem;
}
.user_info img {
  display: block;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.user_info p:nth-of-type(1) {
  text-align: center;
  font-size: .8rem;
  margin-top: .8rem;
}
.user_info p:nth-of-type(1) .user_name {
  color: #393939;
}
.user_info p:nth-of-type(1) .go_register {
  color: #036eb8;
}
.user_info p:nth-of-type(2) {
  text-align: center;
  font-size: .8rem;
  margin-top: .4rem;
}
.user_info p:nth-of-type(2) .uese_tel {
  color: #036eb8;
}
.btn_box {
  margin-top: 6rem;
}
.btn_box .had_card_id {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  line-height: 2.5rem;
  border-radius: .3rem;
  position: relative;
}
.btn_box .had_card_id input {
  color: #393939;
  font-size: .75rem;
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
  border-radius: .3rem;
}
.btn_box .had_card_id span {
  position: absolute;
  left: 5.5rem;
  top: 0;
  font-size: .75rem;
  color: #393939;
}
.btn_box .had_bank_id {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  line-height: 2.5rem;
  border-radius: .3rem;
  position: relative;
  margin-top: 1rem;
}
.btn_box .had_bank_id input {
  color: #393939;
  font-size: .75rem;
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;
  border-radius: .3rem;
}
.btn_box .had_bank_id span {
  position: absolute;
  left: 5.5rem;
  top: 0;
  font-size: .75rem;
  color: #393939;
}
.btn_box a {
  display: block;
  width: 90%;
  background-color: #036eb8;
  line-height: 2.5rem;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  border-radius: .3rem;
  margin: 0 auto;
}
.btn_box a:nth-of-type(2) {
  margin-top: 1rem;
}
.btn_box .msg_info {
  padding-left: 10%;
  margin-top: 1rem;
  color: #999;
  font-size: .6rem;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.btn_box .msg_info img {
  position: absolute;
  left: 5%;
  top: .1rem;
  width: .6rem;
}
