@charset 'utf-8';
html,
body,
.container {
  height: 100%;
  width: 100%;
}
.mon_head {
  background-color: #036eb8;
  padding: .6rem;
  color: #fff;
}
.mon_head p:nth-of-type(1) {
  font-size: .75rem;
}
.mon_head p:nth-of-type(2) {
  font-size: 1.9rem;
  margin: .3rem 0;
}
.mon_head p:nth-of-type(2) span {
  font-size: .75rem;
}
.mon_head p:nth-of-type(3) {
  font-size: .75rem;
}
.mon_head p:nth-of-type(4) {
  font-size: 1.25rem;
  margin-top: .3rem;
}
.mon_box .mon_one {
  background-color: #fff;
}
.mon_box .mon_one p:nth-of-type(1) {
  font-size: .7rem;
  padding-left: .6rem;
  color: #666;
  margin: .6rem 0;
}
.mon_box .mon_one p:nth-of-type(2) {
  font-size: 1.5rem;
  color: #393939;
  margin-top: .5rem;
  padding-left: .6rem;
  position: relative;
  padding-bottom: .5rem;
}
.mon_box .mon_one p:nth-of-type(2) input {
  margin-left: .3rem;
  border-bottom: 2px solid #e5e5e5;
  width: 55%;
  font-size: 1.8rem;
}
.mon_box .mon_one p:nth-of-type(2) a {
  position: absolute;
  right: .6rem;
  top: 50%;
  margin-top: -0.8rem;
  text-align: center;
  line-height: 1.6rem;
  width: 20%;
  border-radius: .4rem;
  background-color: #036eb8;
  font-size: .8rem;
  color: #fff;
}
.mon_box .mon_two {
  background-color: #fff;
  margin-top: .5rem;
}
.mon_box .mon_two p:nth-of-type(1) {
  font-size: .7rem;
  padding-left: .6rem;
  color: #666;
  margin: .6rem 0;
}
.mon_box .mon_two p:nth-of-type(2) {
  font-size: 1.5rem;
  color: #393939;
  margin-top: .5rem;
  padding-left: .6rem;
  position: relative;
}
.mon_box .mon_two p:nth-of-type(2) span {
  font-size: 1.8rem;
}
.mon_box .mon_two p:nth-of-type(2) a {
  position: absolute;
  right: .8rem;
  top: 50%;
  margin-top: -0.6rem;
  font-size: 1rem;
  color: #036eb8;
}
.mon_box .mon_three {
  background-color: #fff;
  margin-top: .5rem;
}
.mon_box .mon_three p:nth-of-type(1) {
  font-size: .7rem;
  padding-left: .6rem;
  color: #666;
  margin: .6rem 0;
}
.mon_box .mon_three p:nth-of-type(2) {
  font-size: 1.5rem;
  color: #393939;
  margin-top: .5rem;
  padding-left: .6rem;
  position: relative;
}
.mon_box .mon_three p:nth-of-type(2) span {
  font-size: 1.8rem;
}
.mon_box .mon_three p:nth-of-type(2) a {
  position: absolute;
  right: .8rem;
  top: 50%;
  margin-top: -0.6rem;
  font-size: 1rem;
  color: #036eb8;
}
.mon_foot {
  margin-top: .6rem;
}
.mon_foot p {
  color: #999;
  font-size: .65rem;
  padding: 0 .6rem;
}
.mon_foot p span {
  color: #666;
}
